/* /Components/Layout/CultureSelector.razor.rz.scp.css */
.culture-selector[b-yf3h6gfhq5] {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.culture-selector select[b-yf3h6gfhq5] {
    width: auto;
    min-width: 120px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 5px;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-vmnlxxwg0n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vmnlxxwg0n] {
    flex: 1;
}

.sidebar[b-vmnlxxwg0n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vmnlxxwg0n] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vmnlxxwg0n]  a, .top-row[b-vmnlxxwg0n]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-vmnlxxwg0n]  a:hover, .top-row[b-vmnlxxwg0n]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-vmnlxxwg0n]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-vmnlxxwg0n] {
        justify-content: space-between;
    }

    .top-row[b-vmnlxxwg0n]  a, .top-row[b-vmnlxxwg0n]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) and (max-width: 992px) {
    .sidebar[b-vmnlxxwg0n] {
        width: 80px;
    }
}

@media (min-width: 992.1px) {
    .sidebar[b-vmnlxxwg0n] {
        width: 250px;
    }
}

@media (min-width: 641px) {
    .page[b-vmnlxxwg0n] {
        flex-direction: row;
    }

    .sidebar[b-vmnlxxwg0n] {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vmnlxxwg0n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-vmnlxxwg0n]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-vmnlxxwg0n], article[b-vmnlxxwg0n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-vmnlxxwg0n] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-vmnlxxwg0n] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3qney2v5ng] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-3qney2v5ng] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-3qney2v5ng] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-3qney2v5ng] {
    font-size: 1.1rem;
}

.bi[b-3qney2v5ng] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-lock-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
}

.bi-person-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
}

.bi-person-badge-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-badge' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath d='M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z'/%3E%3C/svg%3E");
}

.bi-person-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E");
}

.bi-arrow-bar-left-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-bar-left' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z'/%3E%3C/svg%3E");
}

.bi-people-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-people-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z'/%3E%3C/svg%3E");
}

.bi-folder-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-folder-fill' viewBox='0 0 16 16'%3E%3Cpath d='M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.19c-.11 0-.21.017-.301.05.013.018.026.037.039.056l.162.214a1 1 0 0 1 .162.214c.013.019.026.038.039.056z'/%3E%3C/svg%3E");
}

.bi-runner-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M10 2.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM5 14l1.5-4.5L4.5 7 2 8V6.5L5.5 5 8 6.5l1-2.5 3 .5v1.5l-2-.5-1 2.5 2 2.5L12 14h-2l-1.5-3.5L7 9l-1 5H5z'/%3E%3C/svg%3E");
}

.bi-bug-fill-nav-menu[b-3qney2v5ng] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 4.5c-2.2 0-4 2.8-4 6.5s1.8 6.5 4 6.5 4-2.8 4-6.5-1.8-6.5-4-6.5z'/%3E%3Cpath d='M6 1.5l.5 2h3l.5-2h-4z'/%3E%3Cpath d='M3.5 6L1.5 4.5 M1.5 10.5h3 M3.5 15L1.5 16.5' stroke='white' stroke-width='1.2' stroke-linecap='round'/%3E%3Cpath d='M12.5 6l2-1.5 M14.5 10.5h-3 M12.5 15l2 1.5' stroke='white' stroke-width='1.2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.nav-item[b-3qney2v5ng] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-3qney2v5ng] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-3qney2v5ng] {
        padding-bottom: 1rem;
    }

    .nav-item[b-3qney2v5ng]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-3qney2v5ng]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-3qney2v5ng]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-3qney2v5ng] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-3qney2v5ng] {
    display: block;
}

@media (min-width: 641px) and (max-width: 992px) {
    .nav-text[b-3qney2v5ng] {
        display: none;
    }

    .nav-item[b-3qney2v5ng] {
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        justify-content: center;
    }

    .nav-item[b-3qney2v5ng]  .nav-link {
        justify-content: center;
    }

    .bi[b-3qney2v5ng] {
        margin-right: 0;
    }

    .navbar-brand[b-3qney2v5ng] {
        display: none;
    }
}

@media (min-width: 641px) {
    .navbar-toggler[b-3qney2v5ng] {
        display: none;
    }

    .nav-scrollable[b-3qney2v5ng] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-2q5pg1zde4],
.components-reconnect-repeated-attempt-visible[b-2q5pg1zde4],
.components-reconnect-failed-visible[b-2q5pg1zde4],
.components-pause-visible[b-2q5pg1zde4],
.components-resume-failed-visible[b-2q5pg1zde4],
.components-rejoining-animation[b-2q5pg1zde4] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-retrying[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-failed[b-2q5pg1zde4],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-2q5pg1zde4] {
    display: block;
}


#components-reconnect-modal[b-2q5pg1zde4] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-2q5pg1zde4 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-2q5pg1zde4 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-2q5pg1zde4 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-2q5pg1zde4]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-2q5pg1zde4 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-2q5pg1zde4 {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-2q5pg1zde4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-2q5pg1zde4 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-2q5pg1zde4] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-2q5pg1zde4] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-2q5pg1zde4] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-2q5pg1zde4] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-2q5pg1zde4] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-2q5pg1zde4] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-2q5pg1zde4] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-2q5pg1zde4 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-2q5pg1zde4] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-2q5pg1zde4 {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
