-- MySQL dump 10.16  Distrib 10.1.38-MariaDB, for Linux (x86_64)
--
-- Host: localhost    Database: rth
-- ------------------------------------------------------
-- Server version	10.1.38-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bug`
--

DROP TABLE IF EXISTS `bug`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bug` (
  `BugID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `Category` int(8) unsigned DEFAULT NULL,
  `Component` int(8) unsigned DEFAULT NULL,
  `Priority` varchar(32) DEFAULT NULL,
  `Severity` varchar(32) DEFAULT NULL,
  `ClosedReasonCode` varchar(32) DEFAULT NULL,
  `Status` varchar(64) DEFAULT NULL,
  `Reporter` varchar(128) DEFAULT NULL,
  `ReportedDate` varchar(19) DEFAULT NULL,
  `AssignedTo` varchar(128) DEFAULT NULL,
  `AssignedToDeveloper` varchar(128) DEFAULT NULL,
  `Closed` char(1) DEFAULT 'N',
  `ClosedDate` varchar(19) DEFAULT NULL,
  `TestID` varchar(20) DEFAULT NULL,
  `ReqID` varchar(20) DEFAULT NULL,
  `FoundInRelease` varchar(32) DEFAULT NULL,
  `AssignToRelease` varchar(32) DEFAULT NULL,
  `ImplementedInRelease` varchar(32) DEFAULT NULL,
  `DiscoveryPeriod` varchar(32) DEFAULT NULL,
  `Summary` varchar(128) DEFAULT NULL,
  `Description` text,
  PRIMARY KEY (`BugID`),
  KEY `ProjectID` (`ProjectID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bug`
--

LOCK TABLES `bug` WRITE;
/*!40000 ALTER TABLE `bug` DISABLE KEYS */;
INSERT INTO `bug` VALUES (1,1,1,3,'High','Critical','','New','admin','2005-11-26 17:59:47','','','N','','8','','','','','Test','We have a big, big problem','I see London, I see France...\r\n\r\nThis can&#039;t be good.\r\n'),(2,1,1,1,'High','Critical','','New','admin','2005-11-29 18:34:21','admin','','N','','16','','Release 1.0','','','Test','Found a big, big, bug','Houston, we have a problem');
/*!40000 ALTER TABLE `bug` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugassoc`
--

DROP TABLE IF EXISTS `bugassoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugassoc` (
  `BugAssocID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `PrimaryID` int(8) unsigned DEFAULT NULL,
  `SecondaryID` int(8) unsigned DEFAULT NULL,
  `RelationshipType` char(1) DEFAULT NULL,
  PRIMARY KEY (`BugAssocID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugassoc`
--

LOCK TABLES `bugassoc` WRITE;
/*!40000 ALTER TABLE `bugassoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `bugassoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugcategory`
--

DROP TABLE IF EXISTS `bugcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugcategory` (
  `CategoryID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `CategoryName` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`CategoryID`),
  UNIQUE KEY `projectid` (`CategoryName`,`ProjectID`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugcategory`
--

LOCK TABLES `bugcategory` WRITE;
/*!40000 ALTER TABLE `bugcategory` DISABLE KEYS */;
INSERT INTO `bugcategory` VALUES (1,1,'Defect'),(2,1,'Data Change'),(3,1,'Enhancement');
/*!40000 ALTER TABLE `bugcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugcomponent`
--

DROP TABLE IF EXISTS `bugcomponent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugcomponent` (
  `ComponentID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `ComponentName` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`ComponentID`),
  UNIQUE KEY `projectid` (`ComponentName`,`ProjectID`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugcomponent`
--

LOCK TABLES `bugcomponent` WRITE;
/*!40000 ALTER TABLE `bugcomponent` DISABLE KEYS */;
INSERT INTO `bugcomponent` VALUES (1,1,'E-mail'),(2,1,'Requirements'),(3,1,'Tests'),(4,1,'Test Results'),(5,1,'Defects');
/*!40000 ALTER TABLE `bugcomponent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugfile`
--

DROP TABLE IF EXISTS `bugfile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugfile` (
  `BugFileID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BugID` int(8) unsigned DEFAULT NULL,
  `UploadedDate` varchar(19) DEFAULT NULL,
  `UploadedBy` varchar(30) DEFAULT NULL,
  `DisplayName` varchar(255) DEFAULT NULL,
  `BugFileName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`BugFileID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugfile`
--

LOCK TABLES `bugfile` WRITE;
/*!40000 ALTER TABLE `bugfile` DISABLE KEYS */;
/*!40000 ALTER TABLE `bugfile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bughistory`
--

DROP TABLE IF EXISTS `bughistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bughistory` (
  `BugHistoryID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BugID` int(8) unsigned DEFAULT NULL,
  `DateModified` varchar(19) DEFAULT NULL,
  `UserName` varchar(64) DEFAULT NULL,
  `Field` varchar(64) DEFAULT NULL,
  `OldValue` varchar(64) DEFAULT NULL,
  `NewValue` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`BugHistoryID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bughistory`
--

LOCK TABLES `bughistory` WRITE;
/*!40000 ALTER TABLE `bughistory` DISABLE KEYS */;
INSERT INTO `bughistory` VALUES (1,1,'2005-11-26 17:59:47','admin','New Defect','',''),(2,2,'2005-11-29 18:34:21','admin','New Defect','','');
/*!40000 ALTER TABLE `bughistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugmonitor`
--

DROP TABLE IF EXISTS `bugmonitor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugmonitor` (
  `BugMonitorID` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `UserID` int(11) unsigned NOT NULL DEFAULT '0',
  `BugID` int(11) unsigned NOT NULL DEFAULT '0',
  `Monitor` char(1) NOT NULL DEFAULT 'N',
  PRIMARY KEY (`BugMonitorID`),
  UNIQUE KEY `userid_bugid` (`UserID`,`BugID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugmonitor`
--

LOCK TABLES `bugmonitor` WRITE;
/*!40000 ALTER TABLE `bugmonitor` DISABLE KEYS */;
/*!40000 ALTER TABLE `bugmonitor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bugnote`
--

DROP TABLE IF EXISTS `bugnote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bugnote` (
  `BugNoteID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BugID` int(8) unsigned DEFAULT NULL,
  `Author` varchar(64) DEFAULT NULL,
  `DateCreated` varchar(19) DEFAULT NULL,
  `BugNoteDetail` text,
  PRIMARY KEY (`BugNoteID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bugnote`
--

LOCK TABLES `bugnote` WRITE;
/*!40000 ALTER TABLE `bugnote` DISABLE KEYS */;
/*!40000 ALTER TABLE `bugnote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `build`
--

DROP TABLE IF EXISTS `build`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `build` (
  `ReleaseID` int(8) unsigned NOT NULL DEFAULT '0',
  `BuildID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BuildName` varchar(20) DEFAULT NULL,
  `Description` text,
  `DateReceived` varchar(19) NOT NULL DEFAULT '',
  `DateFinished` varchar(19) NOT NULL DEFAULT '',
  `Archive` char(1) NOT NULL DEFAULT '',
  `DateCreated` varchar(19) NOT NULL DEFAULT '',
  `LogTimeStamp` varchar(19) NOT NULL DEFAULT '',
  PRIMARY KEY (`BuildID`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `build`
--

LOCK TABLES `build` WRITE;
/*!40000 ALTER TABLE `build` DISABLE KEYS */;
INSERT INTO `build` VALUES (1,1,'Build 1.0','','2005-11-23 22:30:38','2002-01-01 12:00:00','N','2002-01-01 12:00:00','2005-11-23 22:30:38');
/*!40000 ALTER TABLE `build` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discussion`
--

DROP TABLE IF EXISTS `discussion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discussion` (
  `DiscussionID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ReqID` int(8) unsigned NOT NULL DEFAULT '0',
  `Discussion` text,
  `Status` varchar(7) DEFAULT NULL,
  `DiscSubject` varchar(255) DEFAULT NULL,
  `Author` varchar(25) DEFAULT NULL,
  `AssignTo` varchar(25) DEFAULT NULL,
  `Date` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`DiscussionID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discussion`
--

LOCK TABLES `discussion` WRITE;
/*!40000 ALTER TABLE `discussion` DISABLE KEYS */;
/*!40000 ALTER TABLE `discussion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discussionpost`
--

DROP TABLE IF EXISTS `discussionpost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discussionpost` (
  `PostID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `DiscussionID` int(8) unsigned NOT NULL DEFAULT '0',
  `Post` text,
  `Author` varchar(25) DEFAULT NULL,
  `AssignTo` varchar(25) DEFAULT NULL,
  `Date` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`PostID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discussionpost`
--

LOCK TABLES `discussionpost` WRITE;
/*!40000 ALTER TABLE `discussionpost` DISABLE KEYS */;
/*!40000 ALTER TABLE `discussionpost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feedback`
--

DROP TABLE IF EXISTS `feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feedback` (
  `FeedbackID` smallint(4) unsigned NOT NULL AUTO_INCREMENT,
  `Author` varchar(15) DEFAULT NULL,
  `Comment` text,
  `Project` varchar(15) DEFAULT NULL,
  `TimeStamp` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`FeedbackID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback`
--

LOCK TABLES `feedback` WRITE;
/*!40000 ALTER TABLE `feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `field_tbl`
--

DROP TABLE IF EXISTS `field_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `field_tbl` (
  `field_id` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `screen_id` int(8) unsigned NOT NULL,
  `text_only` char(1) DEFAULT NULL,
  `field_order` decimal(8,1) NOT NULL,
  `field_name` varchar(64) DEFAULT NULL,
  `field_desc` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`field_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `field_tbl`
--

LOCK TABLES `field_tbl` WRITE;
/*!40000 ALTER TABLE `field_tbl` DISABLE KEYS */;
/*!40000 ALTER TABLE `field_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `function_tbl`
--

DROP TABLE IF EXISTS `function_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `function_tbl` (
  `function_id` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `date_created` varchar(19) NOT NULL DEFAULT '',
  `last_updated` varchar(19) NOT NULL DEFAULT '',
  `last_updated_by` varchar(30) NOT NULL DEFAULT '',
  `function_name` varchar(128) NOT NULL DEFAULT '',
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`function_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `function_tbl`
--

LOCK TABLES `function_tbl` WRITE;
/*!40000 ALTER TABLE `function_tbl` DISABLE KEYS */;
/*!40000 ALTER TABLE `function_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guichecktable`
--

DROP TABLE IF EXISTS `guichecktable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guichecktable` (
  `GuiCheckID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `GuiCheckNumber` int(3) unsigned DEFAULT NULL,
  `IconCode` varchar(6) DEFAULT NULL,
  `TS_UniqueRunID` varchar(14) DEFAULT NULL,
  `ObjectName` varchar(50) DEFAULT NULL,
  `ExpectedValue` varchar(50) DEFAULT NULL,
  `ActualValue` varchar(50) DEFAULT NULL,
  `Status` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`GuiCheckID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guichecktable`
--

LOCK TABLES `guichecktable` WRITE;
/*!40000 ALTER TABLE `guichecktable` DISABLE KEYS */;
/*!40000 ALTER TABLE `guichecktable` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `individualrundocs`
--

DROP TABLE IF EXISTS `individualrundocs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `individualrundocs` (
  `UniqueDocID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TS_UniqueRunID` varchar(14) DEFAULT '0',
  `TimeStamp` varchar(19) DEFAULT NULL,
  `UploadedBy` varchar(50) DEFAULT NULL,
  `FileName` varchar(255) DEFAULT NULL,
  `DisplayName` varchar(150) DEFAULT NULL,
  `Comments` varchar(255) DEFAULT NULL,
  `Link` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`UniqueDocID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `individualrundocs`
--

LOCK TABLES `individualrundocs` WRITE;
/*!40000 ALTER TABLE `individualrundocs` DISABLE KEYS */;
/*!40000 ALTER TABLE `individualrundocs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issues`
--

DROP TABLE IF EXISTS `issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `issues` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `Name` char(150) DEFAULT NULL,
  `Priority` char(50) DEFAULT NULL,
  `Status` char(50) DEFAULT NULL,
  `Details` char(255) DEFAULT NULL,
  `Owner` char(50) DEFAULT NULL,
  `Timestamp` varchar(19) DEFAULT NULL,
  `Type` char(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issues`
--

LOCK TABLES `issues` WRITE;
/*!40000 ALTER TABLE `issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs`
--

DROP TABLE IF EXISTS `logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs` (
  `LogID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `SessionID` int(10) unsigned DEFAULT NULL,
  `Deletion` char(1) DEFAULT NULL,
  `Creation` char(1) DEFAULT NULL,
  `Upload` char(1) DEFAULT NULL,
  `TimeStamp` varchar(19) DEFAULT NULL,
  `User` varchar(30) DEFAULT NULL,
  `Page` varchar(50) DEFAULT NULL,
  `Action` text,
  PRIMARY KEY (`LogID`)
) ENGINE=MyISAM AUTO_INCREMENT=14 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs`
--

LOCK TABLES `logs` WRITE;
/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manualdoctype`
--

DROP TABLE IF EXISTS `manualdoctype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manualdoctype` (
  `ManualDocTypeID` smallint(4) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `ManualDocTypeName` varchar(50) DEFAULT '0',
  PRIMARY KEY (`ManualDocTypeID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manualdoctype`
--

LOCK TABLES `manualdoctype` WRITE;
/*!40000 ALTER TABLE `manualdoctype` DISABLE KEYS */;
INSERT INTO `manualdoctype` VALUES (1,1,'Test Case'),(2,1,'Rules Doc');
/*!40000 ALTER TABLE `manualdoctype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manualtestdocs`
--

DROP TABLE IF EXISTS `manualtestdocs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manualtestdocs` (
  `ManualTestID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestID` int(8) unsigned NOT NULL DEFAULT '0',
  `DisplayName` varchar(150) DEFAULT 'NULL',
  PRIMARY KEY (`ManualTestID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manualtestdocs`
--

LOCK TABLES `manualtestdocs` WRITE;
/*!40000 ALTER TABLE `manualtestdocs` DISABLE KEYS */;
/*!40000 ALTER TABLE `manualtestdocs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manualtestdocs_version`
--

DROP TABLE IF EXISTS `manualtestdocs_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manualtestdocs_version` (
  `VersionID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ManualTestID` int(8) unsigned DEFAULT NULL,
  `Version` decimal(4,2) DEFAULT NULL,
  `TimeStamp` varchar(19) DEFAULT NULL,
  `UploadedBy` varchar(50) DEFAULT NULL,
  `FileName` varchar(150) DEFAULT NULL,
  `Comments` text,
  `ManualDocTypeName` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`VersionID`),
  KEY `manualtestid_timestamp` (`ManualTestID`,`TimeStamp`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manualtestdocs_version`
--

LOCK TABLES `manualtestdocs_version` WRITE;
/*!40000 ALTER TABLE `manualtestdocs_version` DISABLE KEYS */;
/*!40000 ALTER TABLE `manualtestdocs_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `news` (
  `project_id` int(6) unsigned NOT NULL DEFAULT '0',
  `NewsID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `Subject` varchar(100) NOT NULL DEFAULT '',
  `Body` text,
  `LastModified` varchar(19) NOT NULL DEFAULT '',
  `Poster` varchar(20) NOT NULL DEFAULT '',
  `Deleted` char(1) NOT NULL DEFAULT 'N',
  PRIMARY KEY (`NewsID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project` (
  `project_id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `use_files` char(1) NOT NULL DEFAULT 'Y',
  `show_custom_1` char(1) NOT NULL DEFAULT 'Y',
  `show_custom_2` char(1) NOT NULL DEFAULT 'Y',
  `show_custom_3` char(1) NOT NULL DEFAULT 'Y',
  `show_custom_4` char(1) NOT NULL DEFAULT 'Y',
  `show_custom_5` char(1) DEFAULT 'Y',
  `show_custom_6` char(1) DEFAULT 'Y',
  `show_window` char(1) NOT NULL DEFAULT 'Y',
  `show_object` char(1) NOT NULL DEFAULT 'Y',
  `show_memory_stats` char(1) NOT NULL DEFAULT 'Y',
  `show_priority` char(1) NOT NULL DEFAULT 'Y',
  `show_test_input` char(1) NOT NULL DEFAULT 'Y',
  `status` char(1) NOT NULL DEFAULT 'Y',
  `date_created` varchar(19) DEFAULT NULL,
  `project_name` varchar(50) NOT NULL DEFAULT '',
  `description` varchar(255) NOT NULL DEFAULT '',
  `req_upload_path` varchar(255) DEFAULT NULL,
  `test_upload_path` varchar(255) DEFAULT NULL,
  `test_run_upload_path` varchar(255) DEFAULT NULL,
  `test_plan_upload_path` varchar(255) NOT NULL DEFAULT '',
  `defect_upload_path` varchar(255) NOT NULL DEFAULT '',
  `bug_url` varchar(255) DEFAULT NULL,
  `deleted` char(1) NOT NULL DEFAULT 'N',
  PRIMARY KEY (`project_id`),
  UNIQUE KEY `project_name` (`project_name`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project`
--

LOCK TABLES `project` WRITE;
/*!40000 ALTER TABLE `project` DISABLE KEYS */;
INSERT INTO `project` VALUES (1,'Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','2005-11-26 17:51:11','DEMO','The default demo project','./rth_file_upload/DEMO_req_docs/','./rth_file_upload/DEMO_test_docs/','./rth_file_upload/DEMO_test_run_docs/','./rth_file_upload/DEMO_test_plan_docs/','./rth_file_upload/DEMO_defect_docs/','','N');
/*!40000 ALTER TABLE `project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_user_assoc`
--

DROP TABLE IF EXISTS `project_user_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_user_assoc` (
  `project_user_assoc_id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(4) unsigned NOT NULL DEFAULT '0',
  `user_id` int(4) unsigned NOT NULL DEFAULT '0',
  `delete_rights` char(1) DEFAULT NULL,
  `email_testset` char(1) DEFAULT NULL,
  `email_discussion` char(1) DEFAULT NULL,
  `email_new_bug` char(1) NOT NULL DEFAULT 'N',
  `email_update_bug` char(1) NOT NULL DEFAULT 'N',
  `email_assigned_bug` char(1) NOT NULL DEFAULT 'N',
  `email_bugnote_bug` char(1) NOT NULL DEFAULT 'N',
  `email_status_bug` char(1) NOT NULL DEFAULT 'N',
  `qa_tester` char(1) DEFAULT NULL,
  `ba_owner` char(1) DEFAULT NULL,
  `user_rights` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`project_user_assoc_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_user_assoc`
--

LOCK TABLES `project_user_assoc` WRITE;
/*!40000 ALTER TABLE `project_user_assoc` DISABLE KEYS */;
INSERT INTO `project_user_assoc` VALUES (1,1,1,'Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','10'),(2,1,2,'N','N','N','N','N','N','Y','Y','Y','Y','10'),(3,1,3,'N','N','N','N','N','Y','N','Y','Y','Y','10');
/*!40000 ALTER TABLE `project_user_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `release_tbl`
--

DROP TABLE IF EXISTS `release_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `release_tbl` (
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `ReleaseID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `Archive` char(1) NOT NULL DEFAULT 'N',
  `ReleaseName` varchar(20) NOT NULL DEFAULT '',
  `Description` text,
  `DateReceived` varchar(19) NOT NULL DEFAULT '',
  `DateCreated` varchar(19) NOT NULL DEFAULT '',
  `LogTimeStamp` varchar(19) NOT NULL DEFAULT '',
  `Platform` varchar(6) NOT NULL DEFAULT '',
  `QASignoffDate` varchar(19) NOT NULL DEFAULT '',
  `BASignoffDate` varchar(19) NOT NULL DEFAULT '',
  `QASignoffBy` varchar(25) NOT NULL DEFAULT '',
  `BASignoffBy` varchar(25) NOT NULL DEFAULT '',
  `QASignoff` varchar(40) NOT NULL DEFAULT '',
  `BASignoff` varchar(40) NOT NULL DEFAULT '',
  `QASignoffComments` text,
  `BASignoffComments` text,
  PRIMARY KEY (`ReleaseID`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `release_tbl`
--

LOCK TABLES `release_tbl` WRITE;
/*!40000 ALTER TABLE `release_tbl` DISABLE KEYS */;
INSERT INTO `release_tbl` VALUES (1,1,'N','Release 1.0','','2005-11-23 22:30:21','2005-11-23 22:30:21','2005-11-23 22:30:21','','','','','','','','','');
/*!40000 ALTER TABLE `release_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirement`
--

DROP TABLE IF EXISTS `requirement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirement` (
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `ReqID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ReqName` varchar(255) NOT NULL DEFAULT '',
  `AreaCovered` int(11) unsigned NOT NULL DEFAULT '0',
  `Type` int(8) unsigned NOT NULL DEFAULT '0',
  `RecordOrFile` char(1) NOT NULL DEFAULT 'R',
  `UnTestable` char(1) DEFAULT 'N',
  `LockedBy` varchar(25) NOT NULL DEFAULT '',
  `LockedDate` varchar(25) NOT NULL DEFAULT '',
  `Priority` varchar(25) DEFAULT NULL,
  `Parent` int(8) unsigned NOT NULL DEFAULT '0',
  `DateCreated` varchar(19) DEFAULT NULL,
  `LogTimeStamp` varchar(19) DEFAULT NULL,
  `LastUpdated` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`ReqID`),
  UNIQUE KEY `projectid` (`ReqName`,`project_id`),
  KEY `parent` (`Parent`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirement`
--

LOCK TABLES `requirement` WRITE;
/*!40000 ALTER TABLE `requirement` DISABLE KEYS */;
INSERT INTO `requirement` VALUES (1,1,'Requirement_Record1',3,3,'R','Y','','','High',0,'2005-11-23 23:19:33','2005-11-23 23:19:33','2005-11-23 23:19:33'),(1,2,'Sub-Req1',3,3,'R','Y','','','Medium',1,'2005-11-23 23:19:33','2005-11-23 23:19:34','2005-11-23 23:19:33'),(1,3,'Sub-Req2',3,3,'R','Y','','','Low',1,'2005-11-23 23:19:33','2005-11-23 23:19:37','2005-11-23 23:19:33');
/*!40000 ALTER TABLE `requirement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementareacoverage`
--

DROP TABLE IF EXISTS `requirementareacoverage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementareacoverage` (
  `ReqAreaCoverageID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `AreaCoverage` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ReqAreaCoverageID`),
  UNIQUE KEY `projectid` (`ProjectID`,`AreaCoverage`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementareacoverage`
--

LOCK TABLES `requirementareacoverage` WRITE;
/*!40000 ALTER TABLE `requirementareacoverage` DISABLE KEYS */;
INSERT INTO `requirementareacoverage` VALUES (1,1,'Requirements'),(2,1,'Bugs'),(3,1,'Tests'),(4,1,'Test Results');
/*!40000 ALTER TABLE `requirementareacoverage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementdocumenttype`
--

DROP TABLE IF EXISTS `requirementdocumenttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementdocumenttype` (
  `ReqDocTypeID` smallint(4) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned NOT NULL DEFAULT '0',
  `ReqDocTypeName` varchar(50) NOT NULL DEFAULT '',
  `RootDocument` char(1) NOT NULL DEFAULT 'N',
  PRIMARY KEY (`ReqDocTypeID`),
  UNIQUE KEY `projectid` (`ProjectID`,`ReqDocTypeName`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementdocumenttype`
--

LOCK TABLES `requirementdocumenttype` WRITE;
/*!40000 ALTER TABLE `requirementdocumenttype` DISABLE KEYS */;
INSERT INTO `requirementdocumenttype` VALUES (1,1,'Use Case','N'),(2,1,'Func Spec','N'),(3,1,'Tech Spec','N');
/*!40000 ALTER TABLE `requirementdocumenttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementfunctionality`
--

DROP TABLE IF EXISTS `requirementfunctionality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementfunctionality` (
  `FunctionalityID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned NOT NULL DEFAULT '0',
  `FunctionalityName` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`FunctionalityID`),
  UNIQUE KEY `projectid` (`ProjectID`,`FunctionalityName`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementfunctionality`
--

LOCK TABLES `requirementfunctionality` WRITE;
/*!40000 ALTER TABLE `requirementfunctionality` DISABLE KEYS */;
INSERT INTO `requirementfunctionality` VALUES (1,1,'User Mgmt'),(7,1,'Run Level'),(8,1,'Permissions'),(5,1,'Cron'),(6,1,'Group Mgmt');
/*!40000 ALTER TABLE `requirementfunctionality` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementfunctionality_assoc`
--

DROP TABLE IF EXISTS `requirementfunctionality_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementfunctionality_assoc` (
  `RequirementFunctionality_AssocID` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `RequirementID` int(6) unsigned NOT NULL DEFAULT '0',
  `RequirementFunctionalityID` int(6) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`RequirementFunctionality_AssocID`),
  UNIQUE KEY `reqid_reqfunctid` (`RequirementID`,`RequirementFunctionalityID`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementfunctionality_assoc`
--

LOCK TABLES `requirementfunctionality_assoc` WRITE;
/*!40000 ALTER TABLE `requirementfunctionality_assoc` DISABLE KEYS */;
INSERT INTO `requirementfunctionality_assoc` VALUES (1,1,8),(2,2,7),(3,3,8);
/*!40000 ALTER TABLE `requirementfunctionality_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementnotifications`
--

DROP TABLE IF EXISTS `requirementnotifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementnotifications` (
  `ReqNotifyID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ReqID` int(8) unsigned NOT NULL DEFAULT '0',
  `UserID` int(8) NOT NULL DEFAULT '0',
  PRIMARY KEY (`ReqNotifyID`),
  UNIQUE KEY `userid_reqid` (`UserID`,`ReqID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementnotifications`
--

LOCK TABLES `requirementnotifications` WRITE;
/*!40000 ALTER TABLE `requirementnotifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `requirementnotifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementversion`
--

DROP TABLE IF EXISTS `requirementversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementversion` (
  `ReqVersionID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `ReqID` int(8) unsigned NOT NULL DEFAULT '0',
  `defect_id` int(8) unsigned NOT NULL DEFAULT '0',
  `Version` varchar(5) NOT NULL DEFAULT '',
  `Latest` char(1) NOT NULL DEFAULT '',
  `TimeStamp` varchar(19) DEFAULT NULL,
  `Author` varchar(50) NOT NULL DEFAULT '',
  `FileName` varchar(150) NOT NULL DEFAULT '',
  `ReasonForChange` text,
  `Status` varchar(25) NOT NULL DEFAULT '',
  `AssignedTo` varchar(255) NOT NULL DEFAULT '',
  `Detail` text,
  `LastUpdated` varchar(19) DEFAULT NULL,
  `LastUpdatedBy` varchar(30) NOT NULL DEFAULT '',
  PRIMARY KEY (`ReqVersionID`),
  KEY `ReqID` (`ReqID`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementversion`
--

LOCK TABLES `requirementversion` WRITE;
/*!40000 ALTER TABLE `requirementversion` DISABLE KEYS */;
INSERT INTO `requirementversion` VALUES (1,1,1,'0','Y','2005-11-23 23:06:24','admin','','','New','','System Shall not tip over and die when logging in...','2005-11-23 23:06:24','admin'),(2,2,1,'0','Y','2005-11-23 23:08:35','admin','','','','','Creating a sub-requirement','2005-11-23 23:08:35','admin'),(3,3,1,'0','Y','2005-11-23 23:14:24','admin','','','','','A second sub-requirement','2005-11-23 23:14:24','admin');
/*!40000 ALTER TABLE `requirementversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requirementversion_release_assoc`
--

DROP TABLE IF EXISTS `requirementversion_release_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirementversion_release_assoc` (
  `RequirementVersion_Release_AssocID` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `RequirementVersionID` int(6) unsigned NOT NULL DEFAULT '0',
  `ReleaseID` int(6) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`RequirementVersion_Release_AssocID`),
  UNIQUE KEY `reqversionid_releaseid` (`RequirementVersionID`,`ReleaseID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requirementversion_release_assoc`
--

LOCK TABLES `requirementversion_release_assoc` WRITE;
/*!40000 ALTER TABLE `requirementversion_release_assoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `requirementversion_release_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reset_password`
--

DROP TABLE IF EXISTS `reset_password`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reset_password` (
  `reset_id` int(11) NOT NULL AUTO_INCREMENT,
  `user` varchar(50) NOT NULL DEFAULT '0',
  `reset_link` varchar(25) NOT NULL DEFAULT '',
  `reset_used` char(1) NOT NULL DEFAULT '',
  `expires` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`reset_id`),
  UNIQUE KEY `reset_link` (`reset_link`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reset_password`
--

LOCK TABLES `reset_password` WRITE;
/*!40000 ALTER TABLE `reset_password` DISABLE KEYS */;
/*!40000 ALTER TABLE `reset_password` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `screen`
--

DROP TABLE IF EXISTS `screen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `screen` (
  `screen_id` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(8) unsigned NOT NULL,
  `screen_order` decimal(8,1) NOT NULL,
  `screen_name` varchar(64) DEFAULT NULL,
  `screen_desc` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`screen_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `screen`
--

LOCK TABLES `screen` WRITE;
/*!40000 ALTER TABLE `screen` DISABLE KEYS */;
/*!40000 ALTER TABLE `screen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `step_tbl`
--

DROP TABLE IF EXISTS `step_tbl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `step_tbl` (
  `step_id` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `function_id` int(8) unsigned DEFAULT NULL,
  `step_number` decimal(8,1) DEFAULT NULL,
  `action` text,
  `inputs` text,
  `expected_result` text,
  `step_type` varchar(11) NOT NULL DEFAULT '',
  PRIMARY KEY (`step_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `step_tbl`
--

LOCK TABLES `step_tbl` WRITE;
/*!40000 ALTER TABLE `step_tbl` DISABLE KEYS */;
/*!40000 ALTER TABLE `step_tbl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_function_assoc`
--

DROP TABLE IF EXISTS `test_function_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_function_assoc` (
  `test_func_assoc_id` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `test_id` int(8) unsigned NOT NULL DEFAULT '0',
  `function_id` int(8) unsigned NOT NULL DEFAULT '0',
  `on_error` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`test_func_assoc_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_function_assoc`
--

LOCK TABLES `test_function_assoc` WRITE;
/*!40000 ALTER TABLE `test_function_assoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_function_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testarea`
--

DROP TABLE IF EXISTS `testarea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testarea` (
  `AreaTestedID` smallint(4) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `AreaTestedName` varchar(50) DEFAULT '0',
  PRIMARY KEY (`AreaTestedID`),
  UNIQUE KEY `projectid` (`AreaTestedName`,`project_id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testarea`
--

LOCK TABLES `testarea` WRITE;
/*!40000 ALTER TABLE `testarea` DISABLE KEYS */;
INSERT INTO `testarea` VALUES (1,1,'Requirements'),(2,1,'Tests'),(3,1,'Test Results'),(4,1,'Bugs');
/*!40000 ALTER TABLE `testarea` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testenvironment`
--

DROP TABLE IF EXISTS `testenvironment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testenvironment` (
  `EnvironmentID` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `EnvironmentName` char(50) DEFAULT NULL,
  PRIMARY KEY (`EnvironmentID`),
  UNIQUE KEY `projectid` (`EnvironmentName`,`ProjectID`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testenvironment`
--

LOCK TABLES `testenvironment` WRITE;
/*!40000 ALTER TABLE `testenvironment` DISABLE KEYS */;
INSERT INTO `testenvironment` VALUES (1,1,'Dev'),(2,1,'Prod'),(3,1,'QA');
/*!40000 ALTER TABLE `testenvironment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testmachine`
--

DROP TABLE IF EXISTS `testmachine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testmachine` (
  `MachineID` smallint(4) unsigned NOT NULL AUTO_INCREMENT,
  `ProjectID` int(8) unsigned DEFAULT NULL,
  `MachineName` char(20) DEFAULT NULL,
  `MachineLocation` char(25) DEFAULT NULL,
  `MachineIPAddress` char(15) DEFAULT NULL,
  PRIMARY KEY (`MachineID`),
  KEY `projectid` (`ProjectID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testmachine`
--

LOCK TABLES `testmachine` WRITE;
/*!40000 ALTER TABLE `testmachine` DISABLE KEYS */;
/*!40000 ALTER TABLE `testmachine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testplan`
--

DROP TABLE IF EXISTS `testplan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testplan` (
  `TestPlanID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BuildID` int(8) unsigned DEFAULT NULL,
  `TestPlanName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`TestPlanID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testplan`
--

LOCK TABLES `testplan` WRITE;
/*!40000 ALTER TABLE `testplan` DISABLE KEYS */;
/*!40000 ALTER TABLE `testplan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testplanversion`
--

DROP TABLE IF EXISTS `testplanversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testplanversion` (
  `TestPlanVersionID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestPlanID` int(8) unsigned DEFAULT NULL,
  `Latest` char(1) DEFAULT 'Y',
  `Version` char(3) DEFAULT NULL,
  `UploadedDate` varchar(19) DEFAULT NULL,
  `UploadedBy` varchar(30) DEFAULT NULL,
  `FileName` varchar(255) DEFAULT NULL,
  `Comments` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`TestPlanVersionID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testplanversion`
--

LOCK TABLES `testplanversion` WRITE;
/*!40000 ALTER TABLE `testplanversion` DISABLE KEYS */;
/*!40000 ALTER TABLE `testplanversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testset`
--

DROP TABLE IF EXISTS `testset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testset` (
  `TestSetID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `BuildID` int(8) unsigned NOT NULL DEFAULT '0',
  `TestSetOrderBy` int(19) NOT NULL DEFAULT '0',
  `Archive` char(3) NOT NULL DEFAULT '',
  `DateCreated` varchar(19) NOT NULL DEFAULT '2002-01-01 12:00:00',
  `SignOffDate` varchar(19) NOT NULL DEFAULT '',
  `TestSetName` varchar(30) NOT NULL DEFAULT '0',
  `SignOffBy` varchar(19) NOT NULL DEFAULT '',
  `TestSetStatus` varchar(40) NOT NULL DEFAULT '',
  `SignOffComments` varchar(255) NOT NULL DEFAULT '',
  `Description` text,
  `UniqueID` varchar(15) NOT NULL DEFAULT '',
  `TestSetType` varchar(30) DEFAULT NULL,
  `LockChangeDate` varchar(19) DEFAULT '',
  `Locked` varchar(1) NOT NULL DEFAULT 'N',
  `LockBy` varchar(25) DEFAULT '',
  `LockComment` text,
  PRIMARY KEY (`TestSetID`),
  KEY `buildid` (`BuildID`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testset`
--

LOCK TABLES `testset` WRITE;
/*!40000 ALTER TABLE `testset` DISABLE KEYS */;
INSERT INTO `testset` VALUES (1,1,1,'N','2005-11-23 23:23:53','','Regression','','','','Our first ever test set','','','','N','','');
/*!40000 ALTER TABLE `testset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testset_testsuite_assoc`
--

DROP TABLE IF EXISTS `testset_testsuite_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testset_testsuite_assoc` (
  `TestSet_TestSuite_AssocID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestSetID` int(8) unsigned NOT NULL DEFAULT '0',
  `TestID` int(8) unsigned NOT NULL DEFAULT '0',
  `Finished` smallint(1) unsigned DEFAULT '0',
  `LogTimeStamp` varchar(19) DEFAULT NULL,
  `root_cause` varchar(30) DEFAULT NULL,
  `TestStatus` varchar(30) NOT NULL DEFAULT 'Not Started',
  `AssignedTo` varchar(25) NOT NULL DEFAULT '',
  `Comments` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`TestSet_TestSuite_AssocID`,`TestSetID`),
  KEY `testid_idx` (`TestID`),
  KEY `testsetid` (`TestSetID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testset_testsuite_assoc`
--

LOCK TABLES `testset_testsuite_assoc` WRITE;
/*!40000 ALTER TABLE `testset_testsuite_assoc` DISABLE KEYS */;
INSERT INTO `testset_testsuite_assoc` VALUES (1,1,1,0,'2005-11-29 15:11:43','','Not Started','',''),(2,1,2,0,'2005-11-29 18:26:33','Application Defect','Failed','admin','Failed on the final step');
/*!40000 ALTER TABLE `testset_testsuite_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teststatus`
--

DROP TABLE IF EXISTS `teststatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teststatus` (
  `TestStatusID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `TestStatus` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`TestStatusID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teststatus`
--

LOCK TABLES `teststatus` WRITE;
/*!40000 ALTER TABLE `teststatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `teststatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teststep`
--

DROP TABLE IF EXISTS `teststep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teststep` (
  `TestStepID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestID` int(8) unsigned DEFAULT NULL,
  `TestVersionID` int(8) unsigned DEFAULT NULL,
  `TestStep_Number` decimal(8,1) DEFAULT NULL,
  `Action` text,
  `Inputs` text,
  `Expected_Result` text,
  `StepType` varchar(11) NOT NULL DEFAULT '',
  PRIMARY KEY (`TestStepID`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teststep`
--

LOCK TABLES `teststep` WRITE;
/*!40000 ALTER TABLE `teststep` DISABLE KEYS */;
/*!40000 ALTER TABLE `teststep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testsuite`
--

DROP TABLE IF EXISTS `testsuite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testsuite` (
  `TestID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `Deleted` char(3) NOT NULL DEFAULT '',
  `Archive` char(3) NOT NULL DEFAULT '',
  `CodeReview` char(3) NOT NULL DEFAULT '',
  `BA_Approval` char(3) NOT NULL DEFAULT '',
  `Steps` char(3) NOT NULL DEFAULT '',
  `Script` char(3) NOT NULL DEFAULT '',
  `LoadRunner` char(3) NOT NULL DEFAULT '',
  `AutoPass` char(1) NOT NULL DEFAULT '',
  `email_ba_owner` char(1) NOT NULL DEFAULT 'N',
  `email_qa_owner` char(1) NOT NULL DEFAULT 'N',
  `Duration` varchar(5) NOT NULL DEFAULT '',
  `Purpose` text,
  `TestSuiteName` varchar(150) NOT NULL DEFAULT '',
  `TestType` varchar(50) NOT NULL DEFAULT '',
  `AreaTested` varchar(50) NOT NULL DEFAULT '',
  `BAOwner` varchar(25) NOT NULL DEFAULT '',
  `Scripter` varchar(25) NOT NULL DEFAULT '',
  `Tester` varchar(25) DEFAULT NULL,
  `ApprovedForAuto` varchar(20) NOT NULL DEFAULT '',
  `Priority` varchar(11) NOT NULL DEFAULT '',
  `Status` varchar(30) NOT NULL DEFAULT '',
  `DateCreated` varchar(19) DEFAULT NULL,
  `Comments` varchar(255) NOT NULL DEFAULT '',
  `AssignedTo` varchar(15) NOT NULL DEFAULT '',
  `AssignedBy` varchar(15) NOT NULL DEFAULT '',
  `DateAssigned` varchar(10) NOT NULL DEFAULT '',
  `ExpDateComplete` varchar(10) NOT NULL DEFAULT '',
  `ActDateComplete` varchar(10) NOT NULL DEFAULT '',
  `BASignOff` varchar(10) NOT NULL DEFAULT '',
  `SignOffBy` varchar(30) DEFAULT NULL,
  `SignOffDate` varchar(10) DEFAULT NULL,
  `LastUpdated` varchar(19) DEFAULT NULL,
  `LastUpdatedBy` varchar(30) NOT NULL DEFAULT '',
  `UniqueID` varchar(15) NOT NULL DEFAULT '',
  `TestStepLinkID` int(8) DEFAULT NULL,
  `State` char(3) DEFAULT NULL,
  PRIMARY KEY (`TestID`),
  KEY `areatested` (`AreaTested`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testsuite`
--

LOCK TABLES `testsuite` WRITE;
/*!40000 ALTER TABLE `testsuite` DISABLE KEYS */;
INSERT INTO `testsuite` VALUES (1,1,'N','N','','','YES','','','','','N','N','This test is intended to help new users to understand the system','Demo_Test','Regression','Bugs','','admin','qa_user','','High','New','','','','','','','','','','','2005-11-23 22:37:05','admin','',0,''),(2,1,'N','N','','','YES','','','','','','N','N','Demo_Test2','Regression','Bugs','ba_user','','qa_user','','Medium','New','','','','','','','','','','','2005-11-23 22:53:50','admin','',0,'');
/*!40000 ALTER TABLE `testsuite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testsuite_requirement_assoc`
--

DROP TABLE IF EXISTS `testsuite_requirement_assoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testsuite_requirement_assoc` (
  `TestSuite_Requirement_AssocID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestID` int(8) unsigned NOT NULL DEFAULT '0',
  `ReqID` int(8) unsigned NOT NULL DEFAULT '0',
  `PercentCovered` int(3) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`TestSuite_Requirement_AssocID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testsuite_requirement_assoc`
--

LOCK TABLES `testsuite_requirement_assoc` WRITE;
/*!40000 ALTER TABLE `testsuite_requirement_assoc` DISABLE KEYS */;
INSERT INTO `testsuite_requirement_assoc` VALUES (1,1,1,50),(2,1,2,50);
/*!40000 ALTER TABLE `testsuite_requirement_assoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testsuiteresults`
--

DROP TABLE IF EXISTS `testsuiteresults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testsuiteresults` (
  `TestSuiteResultsID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestSetID` int(8) unsigned NOT NULL DEFAULT '0',
  `project_id` int(8) unsigned NOT NULL DEFAULT '0',
  `TestID` int(8) unsigned NOT NULL DEFAULT '0',
  `LogTimeStamp` varchar(19) DEFAULT NULL,
  `TestStatus` varchar(30) NOT NULL DEFAULT 'Not Started',
  `assigned_to` varchar(25) NOT NULL DEFAULT '',
  `root_cause` varchar(25) NOT NULL DEFAULT '',
  `test_run_comment` varchar(255) NOT NULL DEFAULT '',
  `Started` smallint(1) unsigned NOT NULL DEFAULT '0',
  `Finished` smallint(1) unsigned NOT NULL DEFAULT '0',
  `CVSVersion` decimal(4,2) NOT NULL DEFAULT '0.00',
  `CheckedForAutoPass` char(1) NOT NULL DEFAULT '',
  `OS` varchar(20) NOT NULL DEFAULT '',
  `SP` varchar(15) NOT NULL DEFAULT '',
  `nNumberID` varchar(8) NOT NULL DEFAULT '',
  `UserID` varchar(10) NOT NULL DEFAULT '',
  `MachineName` varchar(50) NOT NULL DEFAULT '',
  `TestSuite` varchar(150) NOT NULL DEFAULT '',
  `TestPath` varchar(255) NOT NULL DEFAULT '',
  `Environment` varchar(20) NOT NULL DEFAULT '',
  `RunID` varchar(25) NOT NULL DEFAULT '',
  `TS_UniqueRunID` varchar(14) NOT NULL DEFAULT '0',
  `TimeStarted` varchar(19) NOT NULL DEFAULT '',
  `TimeFinished` varchar(19) NOT NULL DEFAULT '',
  PRIMARY KEY (`TestSuiteResultsID`),
  KEY `TS_UniqueRunID` (`TS_UniqueRunID`),
  KEY `testid` (`TestID`),
  KEY `testset_id` (`TestSetID`,`TS_UniqueRunID`)
) ENGINE=MyISAM AUTO_INCREMENT=14 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testsuiteresults`
--

LOCK TABLES `testsuiteresults` WRITE;
/*!40000 ALTER TABLE `testsuiteresults` DISABLE KEYS */;
/*!40000 ALTER TABLE `testsuiteresults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testtype`
--

DROP TABLE IF EXISTS `testtype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testtype` (
  `TestTypeID` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` int(8) unsigned DEFAULT NULL,
  `TestType` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`TestTypeID`),
  UNIQUE KEY `projectid` (`TestType`,`project_id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testtype`
--

LOCK TABLES `testtype` WRITE;
/*!40000 ALTER TABLE `testtype` DISABLE KEYS */;
INSERT INTO `testtype` VALUES (1,1,'Smoke'),(2,1,'Regression'),(3,1,'Performance'),(4,1,'Functional');
/*!40000 ALTER TABLE `testtype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testversion`
--

DROP TABLE IF EXISTS `testversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testversion` (
  `TestVersionID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `TestID` int(8) unsigned DEFAULT NULL,
  `Version` decimal(4,2) DEFAULT NULL,
  `Latest` char(1) DEFAULT NULL,
  `ActiveVersion` char(1) DEFAULT NULL,
  `Comments` varchar(255) DEFAULT NULL,
  `Status` varchar(25) NOT NULL DEFAULT '',
  `AssignedTo` varchar(30) NOT NULL DEFAULT '',
  `BASignOff` varchar(10) NOT NULL DEFAULT '',
  `SignOffBy` varchar(30) NOT NULL DEFAULT '',
  `Creator` varchar(30) NOT NULL DEFAULT '',
  `DateCreated` varchar(19) NOT NULL DEFAULT '',
  PRIMARY KEY (`TestVersionID`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testversion`
--

LOCK TABLES `testversion` WRITE;
/*!40000 ALTER TABLE `testversion` DISABLE KEYS */;
INSERT INTO `testversion` VALUES (1,1,1.00,'Y','Y','','New','','','','admin','2005-11-23 22:37:05'),(2,2,1.00,'Y','Y','','New','','','','admin','2005-11-23 22:49:23');
/*!40000 ALTER TABLE `testversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testworkflow`
--

DROP TABLE IF EXISTS `testworkflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testworkflow` (
  `UniqueTestID` int(8) unsigned NOT NULL AUTO_INCREMENT,
  `Complete` char(1) NOT NULL DEFAULT 'N',
  `TestName` varchar(150) DEFAULT NULL,
  `BAToCreateTC` varchar(30) DEFAULT NULL,
  `BACreateDateComp` varchar(10) DEFAULT NULL,
  `QAToReviewTC` varchar(30) DEFAULT NULL,
  `QAReviewDateComp` varchar(10) DEFAULT NULL,
  `QAAutomated` varchar(30) DEFAULT NULL,
  `QAAutoDateStart` varchar(10) DEFAULT NULL,
  `QAAutoDateExp` varchar(10) DEFAULT NULL,
  `QAAutoDateComp` varchar(10) DEFAULT NULL,
  `BAToApprove` varchar(30) DEFAULT NULL,
  `BAApprovalDate` varchar(10) DEFAULT NULL,
  `Comments` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`UniqueTestID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testworkflow`
--

LOCK TABLES `testworkflow` WRITE;
/*!40000 ALTER TABLE `testworkflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `testworkflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `user_id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `password` varchar(32) NOT NULL DEFAULT '',
  `username` varchar(20) DEFAULT NULL,
  `first_name` varchar(20) NOT NULL DEFAULT '',
  `last_name` varchar(20) NOT NULL DEFAULT '',
  `phone` varchar(25) NOT NULL DEFAULT '',
  `menu_prefs` varchar(39) NOT NULL DEFAULT '',
  `email` varchar(50) NOT NULL DEFAULT '',
  `user_admin` varchar(25) NOT NULL DEFAULT '',
  `default_project` int(6) unsigned NOT NULL DEFAULT '0',
  `deleted` char(1) NOT NULL DEFAULT 'N',
  `email_on_new` char(1) NOT NULL DEFAULT '',
  `email_on_assigned_to` char(1) NOT NULL DEFAULT '',
  `email_on_feedback` char(1) NOT NULL DEFAULT '',
  `email_on_resolved` char(1) NOT NULL DEFAULT '',
  `email_on_closed` char(1) NOT NULL DEFAULT '',
  `email_on_reopened` char(1) NOT NULL DEFAULT '',
  `email_on_bugnote` char(1) NOT NULL DEFAULT '',
  `email_on_status` char(1) NOT NULL DEFAULT '',
  `email_on_priority` char(1) NOT NULL DEFAULT '',
  PRIMARY KEY (`user_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'5f4dcc3b5aa765d61d8327deb882cf99','admin','Big','Shot','','','gth2@users.sourceforge.net','Y',1,'N','','','','','','','','',''),(2,'b66c63a46b5a43eb5066cf6ac0b9f7ea','ba_owner','BA','Owner','','','user@domain.com','N',1,'N','','','','','','','','',''),(3,'cc0e9a92816eeed502687b0db4d546c9','qa_user','QA','User','','','user2@domain.com','N',1,'N','','','','','','','','','');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verifyresults`
--

DROP TABLE IF EXISTS `verifyresults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verifyresults` (
  `VerifyResultsID` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `LogTimeStamp` varchar(19) DEFAULT NULL,
  `TestStatus` varchar(6) NOT NULL DEFAULT '',
  `LineNumber` int(5) unsigned NOT NULL DEFAULT '0',
  `defect_id` int(8) unsigned NOT NULL DEFAULT '0',
  `TotalPhyMem` int(11) unsigned NOT NULL DEFAULT '0',
  `FreePhyMem` int(11) unsigned NOT NULL DEFAULT '0',
  `TotalVirMem` int(11) unsigned NOT NULL DEFAULT '0',
  `FreeVirMem` int(11) unsigned NOT NULL DEFAULT '0',
  `CurMemUtil` int(11) unsigned NOT NULL DEFAULT '0',
  `TotalPageFile` int(11) unsigned NOT NULL DEFAULT '0',
  `FreePageFile` int(11) unsigned NOT NULL DEFAULT '0',
  `Custom_5` char(2) DEFAULT NULL,
  `Custom_3` varchar(8) NOT NULL DEFAULT '',
  `Custom_1` varchar(13) NOT NULL DEFAULT '',
  `Custom_2` varchar(20) NOT NULL DEFAULT '',
  `Custom_6` varchar(20) NOT NULL DEFAULT '',
  `Custom_4` varchar(20) NOT NULL DEFAULT '',
  `ActualResult` text NOT NULL,
  `Comment` varchar(255) NOT NULL DEFAULT '',
  `Action` text,
  `ExpectedResult` text,
  `Window` varchar(100) NOT NULL DEFAULT '',
  `Object` varchar(100) NOT NULL DEFAULT '',
  `ObjType` varchar(25) DEFAULT NULL,
  `StepNumber` varchar(25) DEFAULT NULL,
  `TS_UniqueRunID` varchar(14) NOT NULL DEFAULT '0',
  `TimeStamp` varchar(19) DEFAULT NULL,
  PRIMARY KEY (`VerifyResultsID`),
  KEY `teststatus` (`TestStatus`),
  KEY `ts_uniquerunid` (`TS_UniqueRunID`,`TestStatus`),
  KEY `defect` (`defect_id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verifyresults`
--

LOCK TABLES `verifyresults` WRITE;
/*!40000 ALTER TABLE `verifyresults` DISABLE KEYS */;
/*!40000 ALTER TABLE `verifyresults` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-13 14:56:50
